---
import Layout from '../layouts/Layout.astro';
import PersonalBaseLayout from '../layouts/PersonalBaseLayout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
import Footer from '../components/Footer.astro';

const pageTitle = "About Me";
---

<PersonalBaseLayout title={pageTitle}>
	<h1>Me</h1>
	<p>Hi! Call me Cam! I'm a game dev in her twenties who does game dev both professionally 
	and as a hobby. Speaking of hobbies, I have a lot of them: writing, drawing, painting 
	(digitally and with watercolors), crocheting, fashion, game dev, reading, singing, 
	writing music, programming, gaming, learning Japanese, 3d modelling, animating, and 
	doing pixel art. I'm also learning how to make comics. I'm a very passionate person 
	who tries to put my all into the things I love and doing what's right for the people I 
	love. Passion is a trait I love to see in others. I think everyone should talk about 
	the things that make their eyes light up and their hearts sing without fear of being 
	cringe.</p>
	<div class="divider" style="padding-left:4em"></div>
	<h1>My Work</h1>
	<p>As you could probably tell from my list of hobbies, I work in a lot of different mediums. 
	Sometimes something is in one medium because I can't conceive of it in any other form, 
	sometimes I just choose an idea so I experiment with a new take on that medium or test 
	myself and my knowledge. </p>
	<p>When I was younger, my work primarily focused on struggles that I or my friends dealt with 
	or topics I wanted to explore but was too afraid to broach with others (or sometimes just 
	others who would be able to explain an opposing argument). While I still incorporate topics 
	close to my heart, I don't show my hand quite as much and now create to give others a place 
	where they can explore topics or experience emotions in a safe way.</p>
	<p>My favorite genres to create are probably mystery and horror, but I like making silly little
	things too. For now, all the games I've made that are currently public are on my itch.io, but due
	to ephemerality of platforms (the fact that they won't be around forever) I'll be adding newer 
	stuff here as well, when possible. (My host is quite generous but some things will just be too 
	big to handle).</p>
	<div class="divider" style="padding-left:4em"></div>
	<h1>My Favorites</h1>
	<p> Genres: mystery, death game, horror, slice of life, dystopian, fantasy, mythology/folklore</p>
	<p> Games/Puzzles: Danganronpa, Dragon Quest, Professor Layton series, Rhythm Heaven series, Picross, Logic grid puzzles, MURDLE
	<p> Shows/Movies: The Laughing Salesman (both original and reboot), Aggretsuko, NEW GAME!, Cells at Work BLACK!</p>
	<p> Books: Feed, The Poet X, Less, The Grace Year, Making Comics, Four Thousand Weeks Time Management for Mortals
	<p> Music: Ado, Mili, nerdcore, J-pop, pop, pop punk, metal, punk, Vocaloid</p>
	<div class="divider" style="padding-left:4em"></div>
	<h1>Social Media</h1>
	<a style="text-align: center; display:block" href={`https://bsky.app/profile/theartofgaming.bsky.social`}> <span style="font-size:xx-large; color:white; margin:auto"><i class="fa-brands fa-bluesky"></i></span></a>
		<script>
			import '../scripts/menu.js'
		  </script>
</PersonalBaseLayout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	img {
    float:left;
	padding: 2%;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

</style>
