---
import '../styles/global.css'
import PersonalBaseLayout from '../layouts/PersonalBaseLayout.astro';

const pageTitle = "Home Page";
---

<PersonalBaseLayout pageTitle={pageTitle}>
		<h1>Welcome to my cozy spot on the internet!</h1>
        <p>
			This is the fun, personal side of my site where I can collect the projects I care about 
			in one place, give updates and my personal thoughts on things. It's also a good place to 
			collect all the different hobbies I have and hopefully make friends and find places of 
			inspiration in a less mind-numbing way than social media and youtube. I'm taking my time 
			on this site and kind of doing a learning in public type thing by just uploading whatever 
			I end up finishing on days I work on this, so it'll be under construction for a long time. I hope you'll enjoy and stick with me nonetheless.
        </p>
		

		<script>
			import '../scripts/menu.js'
		</script>
</PersonalBaseLayout>

