<footer>
    <a href={'https://www.tumblr.com/theartofgaming'}> <span style="font-size:xx-large; color:white; margin:auto"><i class="fa-solid fa-user"></i></span></a>
    <a href={`https://bsky.app/profile/theartofgaming.bsky.social`}> <span style="font-size:xx-large; color:white; margin:auto"><i class="fa-brands fa-bluesky"></i></span></a>
</footer>