---
const platform = "linkedin";

---

<footer>
 
<a href={`https://www.linkedin.com/in/campbell-j-turner/`}><img src="/linkedin-app-white-icon.webp" alt="connect with me on linkedin" style="width:42px;height:42px;" ></a>
</footer>