---
import Hamburger from "./Hamburger.astro"
import Navigation from "./Navigation.astro"
---
<header>
    <div class="header-content">
	    <div class="header-title">Website Title</div>
	    <nav>
            <Hamburger/>
            <Navigation/>
        </nav> 	
    </div>
</header>