---
import Hamburger from "./Hamburger.astro"
import Navigation from "./Navigation.astro"
---
<header>
    <div class="header-content">
	    <div class="header-title">The Art of Gaming</div>
        <div class="header-image">
            <img src="../../quick_banner.png">
        </div>
	    <nav>
            <Hamburger/>
            <Navigation/>
        </nav> 	
    </div>
</header>