<div class="nav-links">
    <a href="/">Home</a>
    {/*<a href="/about/">About</a>*/}
    <a href="/blog/">Blog</a>
    <!--<a href="/games/">Games(Dead Link)</a>
    <a href="/characters/">Characters(Dead Link)</a>
    <a href="/works">Portfolio</a>*/-->
</div>
