
<div class="nav-links">
    <ul><a href="/">Home</a></ul>
    <ul><a href="/about/">About</a></ul>
    <ul><a href="/blog/">Blog</a></ul>
    <ul><a href="/characters/">Worlds+<br>Characters</a></ul>
    <ul><a href="/games/">Games</a></ul>
    <ul><a href="/now/">Now</a></ul>
    <ul><a href="/links/">Links</a></ul>
</div>
