---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '@fontsource-variable/winky-rough';
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico?v=1.1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <script src="https://kit.fontawesome.com/c9d350e02a.js" crossorigin="anonymous"></script>

    <!-- Change your site description: (It is shown in Google results) -->
    <meta content="The digital home for my thoughts, games, and other projects" name="description" />

    <script>
      // Template generated with petrapixel's layout generator.
      // (Please do not remove this credit.)
      console.log("%cTemplate generated with petrapixel's layout generator: https://petrapixel.neocities.org/coding/layout-generator", "font-size: 14pt; color: #922a45; background: #ffd3ef");
    </script>
  </head>

  <body style="min-height:0;">
    <!-- The next line is a skip-to-content link for keyboard users. Do not remove it! -->
    <a href="#content" id="skip-to-content-link">Skip to content</a>

    <div class="layout">
      <Header />

      <!-- =============================================== -->
      <!-- LEFT SIDEBAR -->
      <!-- =============================================== -->

      <!--<aside class="left-sidebar">
        <div class="sidebar-title">Under Construction</div>
        <div class="sidebar-section">
          <p>This site is under active construction, so if something looks off, it probably is! </p>
        </div>
      </aside>-->
      <aside class="left-sidebar2">
        <div class="sidebar-title">Site Updates Feed</div>
        <div class="sidebar-section">
            <p>12/24 - added /now page</p>
            <img src="/foollovers-h01-ribbon-line.gif" alt="pink divider with bows" width="162">
            <p>12/17 - added new blogs</p>
            <img src="/foollovers-h01-ribbon-line.gif" alt="pink divider with bows" width="162">
            <p>11/18 - edited front page, footer, and found cool divider</p>
            <img src="/foollovers-h01-ribbon-line.gif" alt="pink divider with bows" width="162">
            <p>10/19 - added new blog post</p>
            <img src="/foollovers-h01-ribbon-line.gif" alt="pink divider with bows" width="162">
            <p>8/06 - edited some page decorations, added favicon, fixed footer</p>
            <img src="/foollovers-h01-ribbon-line.gif" alt="pink divider with bows" width="162">
            <p>8/05 - added decorations, added general games page and individual game page (Dungeon Generator)</p>
            <img src="/foollovers-h01-ribbon-line.gif" alt="pink divider with bows" width="162">
            <p>8/03 - added about page</p>
            <img src="/foollovers-h01-ribbon-line.gif" alt="pink divider with bows" width="162">
            <p>8/02 - changed header font, fixed sidebars, hide portfolio page</p>
            <img src="/foollovers-h01-ribbon-line.gif" alt="pink divider with bows" width="162">
            <p>7/30 - fixed blog hub page and some styling</p>
            <img src="/foollovers-h01-ribbon-line.gif" alt="pink divider with bows" width="162">
            <p>7/29 - separated sidebar sections and started making collection</p>
            <img src="/foollovers-h01-ribbon-line.gif" alt="pink divider with bows" width="162">
            <p>7/28 - started customizing layout and diagnosing blog population issue</p>
            <img src="/foollovers-h01-ribbon-line.gif" alt="pink divider with bows" width="162">
            <p>7/27 - added layout from layout generator</p>
        </div>
      </aside>
      <aside class="left-sidebar">
      <div class="sidebar-title">Currently Working On</div>
        <div class="sidebar-section">
          <p> Resting :p</p>
        </div>
      </aside>
      <aside class="left-sidebar3">
      <div class="sidebar-title">Credits</div>
        <div class="sidebar-section">
          <marquee>
            <div class="site-button">
          	  <p> Base layout - <a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/img/linkback.gif" alt="petrapixel"></a>
              Page Decoration - <a href="https://foollovers.com/" target="_blank"><img src="../../foollovers8826.gif" alt="Fool Lovers"></a>
              </p>
            </div>
          </marquee>
        </div>
      </aside>
	
      <aside class="left-sidebar1">
      <div class="sidebar-title">Todo List</div>
        <div class="sidebar-section">
          <ul>
            <li>Add Character Hub</li>
            <li>Change Games page presentation</li>
            <li>Make Links Out page</li>
          </ul>
        </div>
      </aside>
      
  
      <main id="content" style="min-height:0;"> <!-- Do NOT remove the ID here -->
        <slot />
      </main>


      <!-- =============================================== -->
      <!-- FOOTER -->
      <!-- =============================================== -->

      <Footer />
  
    <!-- Closing .layout: -->
    </div>
  </body>

</html>